body{
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}